body {
    background-color: #101426;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin-top: 140px;
    margin-left: 20px;
}
.intro h1 {
    font-size: 50px;
    text-align: center;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}
img {border-radius: 50%;}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.intro h3 {
    text-align: center;
    color: #fff;
    font-family: 'Ubuntu', monospace;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.top-text {
    text-align: center;
    font-size: 18px;
}

.text-center { text-align: center; }
.typing { color: #fff; }

.name {
    font-size: 50px;
    color: #fff;
    text-align: center;
}
.text p{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.social-icon { 
    color: #fff; 
    font-size: 50px !important; 
    transition: all 167ms ease-in-out;
    cursor: pointer;
}

.social-icon:hover {
    color: darkgray;
}
